@font-face {
  font-family: yekanbakh;
  src: url(../public/fonts/YekanBakh-Regular.eot) ;
  src: url(../public/fonts/YekanBakh-Regular.woff) format('woff');
  src: url(../public/fonts/YekanBakh-Regular.woff2) format('woff2');
  src: url(../public/fonts/YekanBakh-Regular.ttf) format('truetype');
}
body{
  direction: rtl;
  font-family: yekanbakh;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}
